@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@300;400&display=swap');

.paycontainer {
    width: 1442px;
    height: 367px;
    background-color:#6B38FB; /*@ 0% #0B69FF @ 100%; */
    color: #fff;
    position: relative;
}

.paywrapper {
    display: flex;
    padding-top: 100px;
}
.pay{
    text-align: center;
    padding-left: 350px;
}

.pay h1{
    width: 627px;
    height: 40px;
    font-family:'Rubik';
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    line-height: 105%;
    text-align: center;
    align-items: Center;
}

.pay p {
    width: 90%;
    padding-left: 37px;
    max-width: 585px;
    height: 48px;
    font-family: 'Rubik';
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    align-items: center;
    justify-content: center;
}
.paybtn{
    align-items: center;
}

.paybtn button {
    width: 158px;
    height: 40px;
    border-radius: 4px;
    background: #171F46;
    border: none;
    color: #fff;
    font-size: 14px;  
}

.link_paybtn{
    color: #FFFFFF;
    text-decoration: none;
}

.paycube {
    padding-left: 135px;
}

.design{
    
    position: absolute; 
    left: 0;
    top: 60%;
    padding:0 50px;
    width: 300px;
    
}

