
.squarecontainer{
    position: relative;
    left: -41.5rem;
    top: -57rem;
    transform: scale(0.4, 0.35) ;
}

.squarepart1{
    display: flex;
    gap: 0.5rem;
}

.squarepart2{
    display: flex;
    gap: 0.5rem;
    margin-top:0.5rem;
}