@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@300;400&display=swap');


.wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--myColor_1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    border-radius: 0.4375rem;
    background: var(--myColor_2);
    height: 22.6875rem;
    max-width: 43.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    align-items: center;
    justify-content: center;
    width: 43.1875rem;
    height: 22.6875rem;
    text-align: center;
    background: var(--myColor_2);
}

.content p {
    width: 65%;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 0.875rem;
    line-height: 1.5rem;
    line-height: 145%;
    color: var(--myColor_3);
    font-weight: 200;
    margin-bottom: 1em;
    margin-top: 0.1em;
}

.content h1 {
    font-family:'Rubik';
    font-style: Medium;
    font-size: 1.5rem;
    line-height: 2rem;
    line-height: 113%;
    color: var(--myColor_6);
}

.step2_btn {
    max-width: 5.875rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: var(--myColor_5);
    color: var(--myColor_5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step2_btn button {
    max-width: 3.875rem;
    max-height: 1.5rem;
    font-family: 'Rubik';
    font-style: Medium;
    font-size: 0.875rem;
    line-height: 1.5rem;
    line-height: 145%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--myColor_5);
    color: var(--myColor_2);
    font-weight: bold;
    border-width: 0;
}

@media screen and (max-width: 34.375rem) {
    .container {
        transform: scale(0.7);
    }
    .content {
        transform: scale(0.8);
    }

    .content p {
        max-width: 100%;
    }
}


@media screen and (max-width: 18.75rem) {
    .container {
        transform: scale(0.6);
    }
    .content {
        transform: scale(0.7);
    }
}


