@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@300;400&display=swap');

.facilitycontainer {
    background: #FFFFFF;
    max-width: 90rem;
    height: 44.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik';
    margin:-10rem 0;
    padding-bottom: 9.375rem;
}

.facility_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:3rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.facility_first {
    display: flex;
    flex-direction: column;
    width: 77.25rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.facility_first h1 {
    text-align: center;
}

.facility_first p {
    width: 72%;
    text-align: center;
    max-width: 49.25rem;
    height: 3rem;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 0.875rem;
    line-height: 1.5rem;
    line-height: 145%;
    margin-bottom: 6.25rem;
}

.loan p {
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.project p {
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.credit p {
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.facility_btn button{
    background-color: #ffffff;
    border-width: 0;
    font-family: 'Rubik';
    font-style: Medium;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #171F46;
    padding:0.625rem 2.5rem;
    border:1px solid #D7DFE9;
  
}

.facility_btn {
    background:#fff;
    width: 9.875rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    align-items: center;
    margin: 0 auto;
    margin-top: 6.25rem;
}

.ftylink_btn{
    text-decoration: none;
    color: #000000;
}