.wrapper2 {
  margin-top: 50px;
  justify-self: center;
  position: absolute;
  width: 650px;
  margin-left: 100px;
}

.test-Holder2 {
  display: flex;
  align-items: center;
  font-weight: 400px;
  font-size: 11px;
  margin-bottom: 25px;
  margin-top: 15px;
  line-height: 20px;
  color: #000000;
}

.doubleDiv {
  display: flex;
  width: 600px;
}

.facility-type {
  width: 30%;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 16px;
}

.facilityH {
  width: 56%;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 16px;
}

.doubleInput {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.doubleIn {
    width: 0px;
  
}

.doubleInp {
  width: 0px;
}

#fac {
  width: 280px;
  height: 35px;
  border: 1px solid #d7dfe9;
  color: #ffffff;
  border-radius: 4px;
}

#fac-type {
  width: 280px;
  height: 35px;
  border: 1px solid #d7dfe9;
  background: #ffffff;

  border-radius: 4px;
}

.address {
  text-transform: uppercase;
  font-weight: 400px;
  font-size: 8px;
  line-height: 16px;
  margin-top: 25px;
}

#add {
  width: 650px;
  border: 1px solid #d7dfe9;
  background: #ffffff;
  height: 60px;
  box-sizing: border-box;
}

.country {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 8px;
  margin-top: 20px;
  font-weight: 400px;
  width: 30% ;
}
.state {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 8px;
  margin-top: 20px;
  font-weight: 400px;
  width: 30%;
  margin-left: 58px;
}

.city {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 8px;
  margin-top: 20px;
  font-weight: 400px;
  width: 30.8%;
  padding-left: 58px;
}

.region {
  display: flex;
  position: relative;
  width: 100%;

}

.region-inp {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.city-inp {
  width: 0px;
}

.country-inp {
  width: 0px ;
}

.state-inp {
  width: 0px;
}

#for-country {
  border: 1px solid #d7dfe9;
  background: #ffffff;
  border-radius: 4px;
  height: 25px;
}

#for-state {
  border: 1px solid #d7dfe9;
  background: #ffffff;
  border-radius: 4px;
  height: 25px;
}

#for-city {
  border: 1px solid #d7dfe9;
  background: #ffffff;
  border-radius: 4px;
  height: 25px;
}

.Nex-Prev {
  margin-top: 35px;
  display: flex;
}

.prev {
  margin-right: 20px;
  width: 100px;
  border-radius: 4px;
  height: 25px;
  background: white;
  border-style: none;
  border: 1px solid #d7dfe9;
  background: #ffffff;
  border-radius: 4px;
  color: black;
  font-weight: 500px;
}

.next {
  margin-right: 20px;
  width: 100px;
  border-radius: 4px;
  height: 25px;
  background: #0b69ff;
  border-style: none;
  color: white;
  font-weight: 500px;
}
