@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    font-family: 'Rubik';
}

.head_wrapper{
    display: flex;
    margin: 0 auto;
}

.heading{
    margin-left: 10rem;
}

.heading2{  
    margin-left: 60rem;
}
.inner{
    display: flex;
    background-color: #CAE8D6;
}
.alphabet > h1{
    width: 39px;
    height: 36px;
    background-color: #2DCA73;
    color: #FFFFFF;
    padding:0.5rem 0 0.5rem 1rem;
    margin-left: 1rem;

}

.amount{
    color: #2E6D48;
    width: 49%;
    margin-left: 20px;
}

.creditRequestForm{
   
    padding: 0rem 2.3rem;

}
label{
    margin: 0.5rem 0rem;
    color: #7E858E;
}
.form_group{
    display: flex;
    flex-direction: column;
    margin: 2.6rem 0rem;
}


.form_group_inner{
    display: flex;
    flex-direction: column;
    margin-right: 1.63rem;
    
}

.moreDescription{
    display: flex;
    flex-direction: row;
}

input{
    outline:none;
    height: 2.5rem;
    padding: 0rem 1rem;
    border: 1px solid #D7DFE9
    
}
select{
    width: 17.63rem;
    height: 2.5rem;
    border: 1px solid #D7DFE9
}

.form_group input{
    width: 30.75rem;
}








