@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    font-family: 'Rubik';
}

.fund_container{
    height: 100vh;
    position: fixed;
    width: 83%;
    left: 15.75rem;
    top: 3.75rem;
}
.head_wrapper{
    display: flex;
    margin: 0 auto;
}

.heading{
    margin:2rem 0 0 2.3rem;

}
.header{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 2rem;
    line-height: 2.5rem;
    line-height: 105%;
    width: 18.75rem;
}



.heading2{  
    margin:2rem 0 0 25rem;
    
}
.inner{
    display: flex;
    background-color: #CAE8D6;
}
.alphabet > h1{
    width: 2.4375rem;
    height: 2.25rem;
    background-color: #2DCA73;
    color: #FFFFFF;
    padding:0.5rem 0 0.5rem 1rem;
    margin-left: 1rem;
}
.amount{
    color: #2E6D48;
    width: 49%;
    margin-left: 1.25rem;
}

.clicklearn{
    color: #B5B7C4;

}

.increase{
    color: #171F46;
}



.creditRequestForm{
   
    padding: 0rem 2.3rem;

}
label{
    margin: 0.5rem 0rem;
    color: #7E858E;
}
.form_group{
    display: flex;
    flex-direction: column;
    margin: 2.6rem 0rem;
}


.form_group_inner{
    display: flex;
    flex-direction: column;
    margin-right: 1.63rem;
    
}

.moreDescription{
    display: flex;
    flex-direction: row;
}

input{
    outline:none;
    height: 2.5rem;
    padding: 0rem 1rem;
    border: 1px solid #D7DFE9
    
}
select{
    width: 17.63rem;
    height: 2.5rem;
    border: 1px solid #D7DFE9
}

.form_group input{
    width: 30.75rem;
}

.pending {
    transform: translateY(30%);
}
.radios{
    max-width: 20%;
    display: flex;        
    display: -ms-flexbox;
}
.radios label:nth-of-type(1){
    padding-right: 3rem;
}

.yes{
    position: relative;
}

.yes span {
    position: absolute;
    top: 30%;
    left: 40%;
}

.no{
    width: 5rem;
    position: relative;
}

.no span {
    position: absolute;
    top: 30%;
    left: 40%;
}
.fundbtn{
    width: 8.3125rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: #0B69FF;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content:center;
    -ms-justify-content:center;
    align-items:center;
    -ms-align-items:center;
    margin-top: 2rem;
}
.fundbtn button{
    background-color: #0B69FF;
    border: none;
    
}
.btntext{
    color: #ffffff;
    text-decoration: none;
}






