.wrapper2{
    margin-top: 50px;
    justify-self: center;
    position: absolute;
    width: 600px;
    margin-left: 100px;
}


.test-Holder2{
    display: flex;
    align-items: center;
    font-weight: 400px;
    font-size: 11px;
    margin-bottom: 25px;
    margin-top: 15px;
    line-height: 20px;
    color: var(--black-color2);

}

.doubleDiv{
    display: flex;
    width: 600px;
}

.facility-type {
    width: 50%;
    text-transform: uppercase;
    font-size: 8px;
    line-height:16px ;
}


.facilityH{
    width: 50%;
    text-transform: uppercase;
    font-size: 8px;
    line-height:16px ;
    
}

.doubleInput{
    display: flex;

}

.doubleIn{
    width: 50%;

}

.doubleInp {
    width: 50%;

}

#fac{
    width: 280px;
    height: 20px;
    border: 1px solid var(--cream);
    color: #000;
    border-radius:4px ;

}

#fac-type{
    width: 280px;
    height: 20px;
    border: 1px solid var(--cream);
    background: var(--white-colour);

    border-radius: 4px;


}


.address{
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 8px;
    line-height: 16px;
    margin-top: 25px;


}

#add{
    width: 590px;
    border: 1px solid var(--cream);
    background: var(--white-colour);
    height: 60px;
    box-sizing: border-box;
}


.country{
    text-transform: uppercase;
    line-height: 16px;
    font-size: 8px;
    margin-top: 20px;
    font-weight: 400px;
    width: 33.3%;

}
.state{
    text-transform: uppercase;
    line-height: 16px;
    font-size: 8px;
    margin-top: 20px;
    font-weight: 400px;
    width: 33.3%;

}

.city{
    text-transform: uppercase;
    line-height: 16px;
    font-size: 8px;
    margin-top: 20px;
    font-weight: 400px;
    width: 33.3%;
}

.region{
    display: flex;
    position: relative

}

.region-inp{
    display: flex;
}

.city-inp{
    width: 33.3%;

}

.country-inp{
    width: 33.3%;

}

.state-inp{
    width: 33.3%;

}


#for-country{
    border: 1px solid var(--cream);
    background: var(--white-colour);
    border-radius:4px ;
    height: 25px;

}

#for-state{
    border: 1px solid var(--cream);
    background: var(--white-colour);
    border-radius:4px ;
    height: 25px;

}

#for-city{
    border: 1px solid var(--cream);
    background: var(--white-colour);
    border-radius:4px ;
    height: 25px;

}

.Nex-Prev{
    margin-top: 35px;
    display: flex;
}


.prev{
    margin-right: 20px;
    width: 100px;
    border-radius: 4px;
    height: 25px;
    background: var(--white-colour) ;
    border-style: none;
    border: 1px solid var(--cream);
    background:#FFFFFF;
    border-radius:4px ;
    color: black;
    font-weight: 500px;
}

.next{

    margin-right: 20px;
    width: 100px;
    border-radius: 4px;
    height: 25px;
    background: var(--deep-blue) ;
    border-style: none;
    color: var(--white-colour);
    font-weight: 500px;

}