@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@300;400&display=swap');

.container{
    width:83%;
    height:100%;
}

.title{
    height: 5%;
    display: flex;
    align-items: center;
    border: 1px solid red;
    justify-content: space-between;
    padding: 0 2rem 0 3.5rem;
    background-color: var(--myColor_17)
}
.title h1{
    height: 2.5rem;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 32px;
    line-height: 40px;
    line-height: 105%;
    /* width: 12.875rem; */
}

.hisbtn{
    height: 2.5rem;
    width: 9.9375rem;
    display: flex;
    align-items: center;
    justify-content:center;
    background:var(--myColor_5);
    border-radius: 0.25rem;

}
.hisbtn button{
    text-align: center;
    background:var(--myColor_5);
    color:var(--myColor_2);
    border: none;
}

.contentlist{
    height: 95%;
    background: var(--myColor_2);
    /* display: grid; */
    /* grid-template-columns: repeat(2, 2fr); */
    border: 1px solid red;
}

.headrow{
    display: flex;
    grid-template-columns: repeat(6, 6fr);
    /* justify-content: space-evenly; */
}

.firstrow{
    display: flex;
    grid-template-columns: repeat(6, 6fr);
}

.secondrow{
    display: flex;
    grid-template-columns: repeat(6, 6fr);
    /* justify-content: space-evenly; */
}

.thirdrow{
    display: flex;
    grid-template-columns: repeat(6, 6fr);
    /* justify-content: space-evenly; */
}

.fourthrow{
    display: flex;
    grid-template-columns: repeat(6, 6fr);
    /* justify-content: space-evenly; */
}

.fifthrow{
    display: flex;
    grid-template-columns: repeat(6, 6fr);
    /* justify-content: space-evenly; */
}