@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@300;400&display=swap');

.container{
    width:83%;
    height:100%;
}

.title{
    height: 5%;
    display: flex;
    align-items: center;
    border: 1px solid red;
    justify-content: space-between;
    padding: 0 2rem 0 3.5rem;
    background-color: var(--myColor_17)
}
.title h1{
    height: 2.5rem;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 32px;
    line-height: 40px;
    line-height: 105%;
    /* width: 12.875rem; */
}

.hisbtn{
    height: 2.5rem;
    width: 9.9375rem;
    display: flex;
    align-items: center;
    justify-content:center;
    background:var(--myColor_5);
    border-radius: 0.25rem;

}
.hisbtn button{
    text-align: center;
    background:var(--myColor_5);
    color:var(--myColor_2);
    border: none;
}

.contentlist{
    height: 95%;
    background: var(--myColor_2);
    border: 1px solid red;
}

.headrow{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #D7DFE9;
    border-radius: o.5rem;
    margin: 0 2% 0 2%;
}

.request span{
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 12px;
    line-height: 16px;
    line-height: 113%;
    letter-spacing: 1%;
    color: var(--myColor_18);
    border: 1px solid red;
}

.purpose span{
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 12px;
    line-height: 16px;
    line-height: 113%;
    letter-spacing: 1%;
    color: var(--myColor_18);
}
.amount span{
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 12px;
    line-height: 16px;
    line-height: 113%;
    letter-spacing: 1%;
    color: var(--myColor_18);
}

.date span{
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 12px;
    line-height: 16px;
    line-height: 113%;
    letter-spacing: 1%;
    color: var(--myColor_18);
}

.priority span{
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 12px;
    line-height: 16px;
    line-height: 113%;
    letter-spacing: 1%;
    color: var(--myColor_18);
}

.status span{
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 12px;
    line-height: 16px;
    line-height: 113%;
    letter-spacing: 1%;
    color: var(--myColor_18);
}
.firstrow{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid red;
    place-items: center;
    /* margin-left: 2%; */
} 

.firstrow1{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_5);
}
.firstrow2{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_18);
}

.firstrow3{
    margin-right: 7.5rem;
    font-family: 'Rubik';
    font-style: 'Medium';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_18);
}

.firstrow4{
    margin-left:1.5rem;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_18);
}

.firstrow5{
    margin-right: 4rem;
}
.firstrow6{
 margin-right: 5.5rem;
}


.secondrow{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid red;
    place-items: center;
}

.secondrow1{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_5);
}

.secondrow2{
    margin-right: 2rem;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_18);
}

.secondrow3{
    margin-right: 6rem;
}

.secondrow4{
    margin-left:1.5rem;
}

.secondrow5{
    margin-right: 4rem;
}
.secondrow6{
 margin-right: 6rem;
}

.thirdrow{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid red;
    place-items: center;
}

.thirdrow1{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_5);
}

.thirdrow2{
    margin-left: 3.5rem;
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
}

.thirdrow3{
    margin-right: 6rem;
}

.thirdrow4{
    margin-left:1.5rem;
}

.thirdrow5{
    margin-right: 4rem;
}
.thirdrow6{
 margin-right: 5.5rem;
}

.fourthrow{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid red;
    place-items: center;
}
.fourthrow1{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_5);
}

.fifthrow{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid red;
    place-items: center;
}

.fifthrow1{
    font-family: 'Rubik';
    font-style: 'Regular';
    font-size: 14px;
    line-height: 24px;
    line-height: 145%;
    color: var(--myColor_5);
}
.amount{
    margin-right: -4.5rem;
 
}

.date{
    margin-right: -4.5rem;
}

.priority{
    margin-right: -4.5rem;
}
.status{
    margin-right: -4.5rem;

}