body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --white-colour: #ffffff;
  --ligth-blue: #B0CDFA;
  --deep-blue: #0051CA;
  --cream:#D7DFE9;
  --black:#171F46;
  --black-color2: #000000;
  --red-color:#ff0000;
  --hue-white:#E5E5E5;
  --leaf-green:#2DCA73;
  --blue:#0B69FF;
  --red-colour2:#FF0B37;
}

