/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
.creditcontainer{
    position: relative;
    height: 100vh;
}

.formcontainer{
    position: absolute;
    left: 300px;
    top: 80px;
    height: 89vh;
    width: 100%;
    
}
