/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */


.formcontainer{
    position: relative;
    left: 300px;
    top: 80px;
    width: 75rem;
    height: 64rem;
    background-color: #FBFBFB;  
    border: 1px solid red;
}

.creditcontainer{
    position: absolute;
    height: 100vh;
    width: 1080px;
    height: 865px;
    border-radius: 19px;
    background:#FFFFFF;
    left: 5%;
    border: 1px solid blue;
    filter:drop-shadow(24px 0px, 0px rgba(0, 0, 0, 0.05))
    }
