.footone {
    width: 1440px;
    height: 472px;
    background:#0051CA;
    display: flex;
    justify-content: space-evenly;
    padding-top: 123px;
    color: #fff;
}

.foot6{
    width: 1440px;
    height: 50px;
    background-color: #171F46;
}

.foot6 p {
    color: #ffffff;
    text-align: center;
    justify-content: center;
}