

.footone {
    width: 90rem;
    height: 29.5rem;
    background:#0051CA;
    display: flex;
    justify-content: space-evenly;
    padding-top: 7.6875rem;
    color: #fff;

}

.foot6{
    width: 90rem;
    height: 3.125rem;
    background-color: #171F46;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center

}

.foot6 p {
    color: #ffffff;
  
}